# General Configuration
SECRET_KEY=django-insecure-tir79*=ri)4uj9ij#e0#*r(xn@o+*7%)s^yxiqlp+j0@fifjt!
DEBUG=True

# Database Configuration (MySQL / SQLite)
DB_ENGINE=django.db.backends.mysql
DB_NAME=truck_load_db
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_HOST=127.0.0.1
DB_PORT=3306

# Frontend API URL
VITE_API_BASE_URL=http://127.0.0.1:8000/api/
